[[language]]
name = "python"
formatter = { command = "ruff", args = ["format", "-"] }
auto-format = true
language-servers = ["basedpyright"]

[[language]]
name = "rust"
formatter = { command = "rustfmt" }
auto-format = true

[[language]]
name = "javascript"
shebangs = ["deno", "node"]
roots = ["deno.json", "deno.jsonc", "package.json", "tsconfig.json"]
language-servers = ["deno-lsp"]
auto-format = true

[[language]]
name = "jsx"
shebangs = ["deno", "node"]
roots = ["deno.json", "deno.jsonc", "package.json", "tsconfig.json"]
language-servers = ["deno-lsp"]
auto-format = true

[[language]]
name = "typescript"
shebangs = ["deno", "node"]
roots = ["deno.json", "deno.jsonc", "package.json", "tsconfig.json"]
language-servers = ["deno-lsp"]
auto-format = true

[[language]]
name = "tsx"
shebangs = ["deno", "node"]
roots = ["deno.json", "deno.jsonc", "package.json", "tsconfig.json"]
language-servers = ["deno-lsp"]
auto-format = true

[language-server.deno-lsp]
command = "deno"
args = ["lsp"]

[language-server.deno-lsp.config.deno]
enable = true
lint = true
suggest.imports.hosts = { "https://deno.land" = true }
inlayHints.parameterNames.enabled = "all"
inlayHints.parameterTypes.enabled = true
inlayHints.variableTypes.enabled = true
inlayHints.propertyDeclarationTypes.enabled = true
inlayHints.functionLikeReturnTypes.enabled = true
inlayHints.enumMemberValues.enabled = true

[[language]]
name = "ruby"
language-servers = [
  { name = "solargraph", except-features = [
    "format",
    "diagnostics",
  ] },
  { name = "standardrb", only-features = [
    "format",
    "diagnostics",
  ] },
]
auto-format = true
[language-server.standardrb]
command = "standardrb"
args = ["--lsp"]

[[language]]
name = "crystal"
auto-format = true

[[language]]
name = "lua"
auto-format = true
formatter = { command = "stylua", args = ["-"] }

[[language]]
name = "janet"
auto-format = true
language-servers = ["janet-lsp"]
[language-server.janet-lsp]
command = "janet-lsp"
args = []

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }
auto-format = true
